:root {
    --ss-poppins: "Poppins", sans-serif;
    --ss-satisfy: "Satisfy", cursive;
    --ss-font500: 500;
    --ss-font600: 600;
    --ss-font700: 700;
    --ss-font800: 800;
    --ss-fontbold: bold;
    --ss-primary: #EB0029;
    --ss-secondary:#134D72;
  }

  $bg-primary-color:#EB0029;
  $bg-secondary-color:#266BF9;


