@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@import "mixin";
@import "var";

@font-face {
    font-family:'modern-grunge';   
         src: url(../fonts/modern-grunge.regular.otf);
  }
  
body {
    font-family: var(--ss-poppins);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #000;
  }
  ul,li,p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    list-style: none;
}
* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
p,span {
    font-family: var(--ss-josefin);
}
a {
    text-decoration: none;
    color: #1d1d1d;
}
.slick-slide img {
    display: inherit !important;
}
.title-box {
    h3 {
        font-size: 3rem;
        color: var(--ss-primary);
        margin-bottom: 2rem;
        font-family: var(--ss-satisfy);
    }
    h5 {
        font-size: 4rem;
        color: #000;
        font-weight: 800;
        margin-bottom: 4rem;
        font-family: var(--ss-poppins);
    }
    p {
        color: #4D5765;
        font-size: 1.6rem;
    }
}
.p-60 {
    padding: 6rem 0rem;
}
/*---Loader--*/
#preloader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: #fff;
    z-index: 999;
  }

  /*---Loader--*/
/* Header Area*/
.main-header {
    background-color: #1d1d1d;
    color: #fff;
    .call-header {
        margin: 0rem 4rem;
    }
    .top-header {
        background-color: var(--ss-primary);
        padding: 1rem 1rem 1rem 2rem;
        position: relative;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 1% 100%);
        ul {
            li {
                p {
                    font-size: 1.4rem;
                }
            }
        }
        .divider {
            margin: 0rem 0rem 0rem 2rem;
            color: #ddd;
        }
        .top-social-media {
            li {
                margin-left: 2rem;
                a {
                    i {
                        color: #fff;
                    }
                }
            }
        }
    }
    .menu-area{
        li {
            i {
                color: var(--ss-primary);
                font-size: 3rem;
                vertical-align: middle;
            }
        }
        .right-header {
            p {
                font-size: 1.4rem;
                margin-left: 1rem;
                font-weight: bold;
                font-size: 1.8rem;
                span {
                    color: #4D5765;
                    font-size: 1.4rem;
                }
            }
            .order-btn {
                @include btn-prop();
                margin-left: 3rem;
            }
            .order-btn {
                span {
                    z-index: 2;
                    color: #fff;
                    position: relative;
                }
            }
            .order-btn:before {
                @include btn-before();
                z-index: 0;
            }
            .order-btn:hover {
                span {
                    color: #000;
                }
            }
            .order-btn:hover:before {
                @include btn-hover-prop();
            }
        }
        position: relative;
    }
    .menu-area::before {
        @include top-header-before();
        transform: rotate(345deg);
        background-image: linear-gradient(to bottom, var(--ss-primary), transparent);
    }
}
/*shrink*/
.shrink {
    position: fixed;
    top: 0;
    width: 100%;
    transition-delay: 0.09s;
    z-index: 1;
    transition: 0.7s;
    animation: smoothScroll 1s forwards;
    z-index: 2;
    background-color: var(--ss-primary);
}
/* Header Area*/
/*Banner Area*/
.banner_area {
    h3 {
        font-size: 3rem;
        color: var(--ss-primary);
        margin-bottom: 2rem;
        font-family: var(--ss-satisfy);
    }
    h4 {
        font-size: 7rem;
        color: #fff;
        font-family:'modern-grunge'; 
        max-width: 60rem;
    }
    #shape1 {
        bottom: -6rem;
        right: 25rem;
        animation: zoom linear 12s infinite alternate;
    }
    #shape2 {
        top: 14rem;
        left: 54rem;
        animation: jump-horizontal 12s linear infinite;
    }
    #shape3 {
        bottom: -6rem;
        right: 15rem;
        animation: zoom linear 1.5s infinite alternate;
        img {
            max-width: 15rem;
        }
    }
    
    p {
        font-size: 2rem;
        max-width: 60rem;
        margin: 2rem 0rem 3rem;
        color: #4D5765;
    }
    .order-btn {
        @include btn-prop();
    }
    .order-btn:before {
        @include btn-before();
    }
    .order-btn:hover:before {
        @include btn-hover-prop();
    }
    .order-btn {
        span {
            z-index: 2;
            color: #fff;
            position: relative;
        }
    }
    .order-btn:hover {
        span {
            color: #000;
        }
    }

    .slider {
        background: url(../images/hero-bg.jpg) no-repeat;
        @include bg-prop();
        padding: 10rem 0rem;
    }
}
/*Popular Slider*/
.popular-area {
    .popular_slider {
        .slick-current {
            .product_box {
                .fire {
                    opacity: 1;
                    visibility: visible;
                    transform: scaleY(1);
                }
            }
        }
        .product_box {
            border-radius: 1rem;
            background-color: #f4faff;
            padding: 2rem;
            margin: 0rem 1rem 1rem;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            .fire {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                bottom: 0;
                left: 0;
                transform: scaleY(0);
                transform-origin: bottom center;
                transition: 0.4s ease-in-out;
                animation: fireAni 1.6s ease-in-out infinite;
            }
            h3 {
                font-size: 2rem;
                color: #000;
                font-weight: 600;
                margin-top: 1rem;
            }
            p {
                color: #4D5765;
                font-size: 1.6rem;
                margin: 1rem 0rem;
            }
            a {
                color: var(--ss-primary);
                font-size: 2rem;
                font-weight: 500;
            }
            .product-pic {
                img {
                    margin: 0 auto;
                    position: relative;
                    animation: rotate linear 70s infinite;
                }
                span {
                    padding: 2rem;
                    position: absolute;
                    top: 3rem;
                    background-color: red;
                    font-size: 1.4rem;
                    color: #fff;
                    font-weight: 800;
                    width: 6rem;
                    height: 6rem;
                    display: flex;
                    right: 3rem;
                    border-radius: 5rem;
                    align-items: center;
                    justify-content: center;
                    line-height: 1.8rem;
                }
            }
        }
        .product_box:hover .fire {
            opacity: 1;
            visibility: visible;
            transform: scaleY(1);
        }
    }
    #shape4 {
        bottom: 20%;
        left: 1%;
        animation: jump-vertical 12s linear infinite;
        z-index: -1;
    }
    #shape5 {
        top: 10%;
        right: 10%;
        animation: jump-horizontal 12s linear infinite;
        z-index: -1;
    }
}

/*Abou area*/
.about-area {
    .about-right {
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem 0rem;
            margin-top: 2rem;
            li {
                margin: 0rem 3rem 1rem 0rem;
                position: relative;
                p {
                    font-weight: 600;
                    color: #000;
                    span {
                        margin-right: 0.5rem;
                    }
                }
            }
        }
        .about-btn {
            @include btn-prop();
        }
        .about-btn:before {
            @include btn-before();
        }
        .about-btn:hover:before {
            @include btn-hover-prop();
            background-color: #000;
        }
        .about-btn {
            span {
                z-index: 2;
                color: #fff;
                position: relative;
            }
        }
        .about-btn:hover {
            span {
                color: var(--ss-primary);
            }
        }
        .founder-box {
            margin-top: 0rem;
        }
        .about-listing {
            margin-bottom: 3rem;
        }
    }
}

/*offer-area*/
.offer-area {
    background: url(../images/hero-bg.jpg) no-repeat;
    @include bg-prop();
    overflow: hidden;
    .offer-left {
        h6 {
            font-size: 7rem;
            color: #fff;
            font-family:'modern-grunge'; 
            max-width: 60rem;
        }
        p {
            margin: 2rem 0rem;
        }
        .order-btn {
            @include btn-prop();
        }
        .order-btn:before {
            @include btn-before();
        }
        .order-btn:hover:before {
            @include btn-hover-prop();
        }
        .order-btn {
            span {
                z-index: 2;
                color: #fff;
                position: relative;
            }
        }
        .order-btn:hover {
            span {
                color: #000;
            }
        }
    }
    .offer-right {
        text-align: right;
        img {
            max-width: 50rem;
            margin-left: auto;
        }
    }
    .discount-box {     
        top: 50%;
        left: 58%;
        transform: translate(-50%, -50%);
        width: 24rem;
        height: 24rem;
        .discount-bg {
            background: url(../images/discount_bg_1.svg);
            @include bg-prop();
            width: 20rem;
            height: 20rem;
            text-align: center;
            .discount-text {
                top: 42%;
                left: 56%;
                transform: translate(-50%, -50%);
                p {
                    font-size: 1.6rem;
                    font-weight: 500;
                }
                h3 {
                    font-size: 3rem;
                    font-family:'modern-grunge';
                    color: var(--ss-primary);
                    font-weight: 600;
                    animation: zoom linear 1.5s infinite alternate;
                }
            }
        }
        .discount-bg:before {
            content: "";
            position: absolute;
            top: 13%;
            left: 24%;
            width: 13rem;
            height: 13rem;
            border-radius: 50%;
            border: 3px solid var(--ss-primary);
        }
    }
}

/*Tab Area*/
.product-tab-area {
    .tab-content {
        display: none;
        margin-top: 6rem;
      }
      .current {
        display: inherit;
      }
      .product-tab {
        .tabs {
            .current {
                p {
                    color: var(--ss-primary);
                }
            }
        }
        .tab-link {
            display: inline;
            text-align: center;
            border-right: 1px dashed #A5A5A5;
            padding: 0px 30px;
            cursor: pointer;
            img {
                margin-bottom: 1rem;
            }
            p {
                font-size: 1.6rem;
                font-weight: 600;
            }
        }
        .tab-link:hover {
            background-color: #e2f8fb;
        }
        .tab-link:last-child {
            border: none;
        }
      }
      .menu-tab-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        .food-menu-wrap {
            border: 1px dashed #D2D2D2;
            padding: 0 30px;
            border-radius: 10px;
            background-color: var(--white-color);
            .food-menu {
                display: flex;
                align-items: center;
                gap: 15px;
                margin-top: 30px;
                padding-bottom: 30px;
                border-bottom: 1px dashed #D2D2D2;
                transition: 0.4s;
                .food-menu_img {
                    min-width: 9.2rem;
                    width: 9.2rem;
                    height: 9.2rem;
                    border-radius: 50%;
                    position: relative;
                    transition: 0.4s;
                    background: #fff;
                    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.12);
                    padding: 0.5rem;
                    z-index: 2;
                    margin-right: 1rem;
                }
                .food-menu_content {
                    width: calc(100% - 100px);
                    position: relative;
                }
                .food-menu_title {
                    font-weight: 500;
                    font-size: 2.2rem;
                    line-height: 3rem;
                    margin-bottom: 0.4rem;
                    margin-top: -0.24em;
                    color: #000;
                    text-transform: capitalize;
                    position: relative;
                    z-index: 2;
                }
                .food-menu_title:before {
                    content: '';
                    position: absolute;
                    bottom: 8px;
                    left: 0;
                    border-bottom: 3px dotted;
                    width: 100%;
                    z-index: -1;
                    transition: 0.4s ease-in-out;
                }
                .food-menu_title a {
                    color: inherit;
                    background-color: #fff;
                }
                .food-menu_price {
                    align-self: flex-start;
                    background-color: rgba(255, 6, 0, 0.1);
                    border-radius: 0.4rem;
                    color: var(--ss-primary);
                    font-weight: 700;
                    font-size: 1.8rem;
                    line-height: 2.8rem;
                    padding: 0.3rem 1.2rem;
                }
                .food-menu_desc {
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 2.8rem;
                    color: #4d5765;
                    margin-bottom: 0;
                }
                .star-rating {
                    margin-top: 1rem;
                    p {
                        font-size: 1.4rem;
                        color: #4D5765;
                        i {
                            color: var(--ss-primary);
                        }
                    }
                }
                .food-menu_img:before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    border: 1px solid var(--ss-primary);
                    border-radius: inherit;
                    transform: scale(0.7);
                    transition: 0.4s ease-in-out;
                    z-index: -1;
                }
            }
            .food-menu:hover .food-menu_img:before {
                transform: scale(1);
            }
        }
      }
      #shape6 {
        top: 10%;
        animation: jump-vertical 12s linear infinite;
        z-index: -1;
    }
    #shape7 {
        bottom: 10%;
        right: 0;
        animation: jump-vertical 18s linear infinite;
        z-index: -1;
    }
}

/* Gallery area*/
.gallery_area {
    background-color: #F4FAFF;
    .gallery {
        img {
            width: 100%;
            border-radius: 0.5rem;
        }
    }
}
/* Review-area*/
.review-area {
    .review_slider {
        .review-box {
            padding: 4rem;
            margin: 1rem;
            .rating-box {
                i {
                    color: var(--ss-primary);
                }
            }
            .comment-box {
                p {
                    font-size: 1.6rem;
                    font-weight: 500;
                    margin: 2rem 0rem;
                }
            }
            .author-box {
                ul {
                    li {
                        img {
                            margin-right: 1rem;
                        }
                        h3 {
                            font-size: 1.6rem;
                            font-weight: 600;
                        }
                        p {
                            font-size: 1.4rem;
                            margin-top: 1rem;
                        }
                    }
                }
            }
        }
    }
}
/* App Area*/
.app-area {
    margin: 3rem 0rem 6rem;
    .app-bg {
        background: url(../images/download_bg_2.jpg) no-repeat;
        @include bg-prop();
        padding: 6rem;
        border-radius: 0.5rem;
        .play-store {
            @include btn-prop();
            padding: 0.6rem 2rem;
        }
        .play-store:hover {
            background-color: #000;
        }
        h3 {
            font-size: 4rem;
            max-width: 40rem;
            font-weight: 600;
            font-family: var(--ss-satisfy);
            margin-bottom: 3rem;
        }
        ul {
            li {
                i {
                    font-size: 3rem;
                    margin-right: 1rem;
                }
                span {
                    font-size: 1.4rem;
                    font-weight: 200;
                }
                h4 {
                    font-size: 1.8rem;
                }
            }
        }
    }
}
/*Footer Area*/
.footer-area {
    background-image: url(../images/footer_bg_5.png);
    @include bg-prop();
    background-position: bottom;
    padding-bottom: 2rem;
    color: #fff;
    background-color:#0E1317;
    .footer-box {
        h3 {
            font-size: 2.5rem;
        }
        h3::before {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            border-top: none;
            height: 3px;
            width: 100px;
            background-image: linear-gradient(to right, var(--ss-primary), transparent); 
        }
        p {
            margin: 4rem 0rem 2rem;
            color: #A5A5A5;
        }
    }
    .about-us-link {
        ul {
            li {
                a {
                    color: #fff;
                    background-color: #1C2125;
                    border-color: #1C2125;
                    font-size: 14px;
                    width: 4rem;
                    height: 4rem;
                    text-align: center;
                    display: inline-block;
                    line-height: 4rem;
                    margin-right: 1.5rem;
                    border-radius: 50%;
                }
                a:hover {
                    background-color: var(--ss-primary);
                }
            }
        }
    }
    .quick-links {
        ul {
            margin-top: 3rem;
            li {
                a {
                    font-size: 1.6rem;
                    color: #A5A5A5;
                    position: relative;
                    span {
                        margin-left: 2rem;
                        transition: 0.3s;
                    }
                }
                a:hover {
                    span {
                        margin-left: 2.5rem;
                        transition: 0.3s;
                        color: var(--ss-primary);
                    }
                }
                a:before {
                    content: "\f105";
                    position: absolute;
                    left: 0;
                    font-family: fontAwesome;
                    font-size: 1.8rem;
                }
                margin-bottom: 1rem;
            }
        }
    }
    .contact-box {
        ul {
            margin-top: 3rem;
        }
        p {
            margin: 0rem 0rem 2rem;
        }
        .location:before {
            content: "\f3c5";
            position: absolute;
            left: 0;
            font-family: fontAwesome;
            font-size: 1.8rem;
            color: var(--ss-primary);
        }
        .phone:before {
            content: "\f2a0";
            position: absolute;
            left: 0;
            font-family: fontAwesome;
            font-size: 1.8rem;
            color: var(--ss-primary);
        }
        .mail:before {
            content: "\f0e0";
            position: absolute;
            left: 0;
            font-family: fontAwesome;
            font-size: 1.8rem;
            color: var(--ss-primary);
        }
        p {
            span {
                margin-left: 3rem;
                vertical-align: middle;
            }
        }
    }
    .newsletter-area {
        background-color: #1C2125;
        border-radius: 0.6rem;
        padding: 1.5rem 3rem;
        margin-top: 8rem;
        h3 {
            font-size: 2rem;
        }
        form {
            input {
                background-color: transparent;
                border: none;
                width: 30rem;
                outline: none;
                padding-left: 1rem;
                color: #fff;
            }
            background-color: #0E1317;
            border-color: #0E1317;
            border-radius: 4px 0 0 4px;
            padding: 0.7rem;
            .submit-btn {
                @include btn-prop();
            }
            .submit-btn:before {
                @include btn-before();
            }
            .submit-btn:hover:before {
                @include btn-hover-prop();
            }
            .submit-btn {
                span {
                    z-index: 2;
                    color: #fff;
                    position: relative;
                }
            }
            .submit-btn:hover {
                span {
                    color: #000;
                }
            }
        }
    }
    .copyright-text {
        font-size: 1.6rem;
        color: #4D5765;
        margin-top: 3rem;
        i {
            font-family: fontAwesome;
        }
    }
    .copyright-links {
        li {
            a {
                color: #4D5765;
                font-size: 1.6rem;
            }
            a:hover {
                color: var(--ss-primary);
            }
            margin-top: 3rem;
        }
        .divider {
            margin: 3rem 1rem 0rem;
            color: #4D5765;
        }
        .divider {
            a:hover {
                color: #4D5765;
            }
        }
    }
}
/*Additional CSS*/



@media (min-width: 1700px) {
    .container {
        max-width: 1640px;
    }
}

@media (max-width: 1739.98px) {
}

@media (max-width: 1399px) {
    .main-header {
        .menu-area {
            .right-header {
                p {
                    font-size: 1.4rem;
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .main-header {
        .menu-area {
            .right-header {
                p {
                    font-size: 1.3rem;
                }
            }
        }
        .menu-area:before {
            display: none;
        }
    }
    
    .navbar-expand-md {
        .navbar-nav {
            .nav-link {
                font-size: 1.4rem !important;
            }
            .nav-item {
                margin-left: 3rem !important;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .nav-item {
        a {
            color: #fff;
        }
    }
    .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
        color: var(--ss-primary);
    }
    .nav-link:focus, .nav-link:hover {
        color: var(--ss-primary);
    }
    .main-header {
        .top-header {
            ul {
                li{
                    p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    .main-header {
        .menu-area {
            .right-header {
                button {
                    font-size: 1.4rem;
                }
            }
        }
    }
    .banner_area {
        h4 {
            font-size:4.2rem;
        }
        p {
            font-size: 1.8rem;
            max-width: 40rem;
        }
        .slider {
            padding: 3rem 0rem;
            #shape1 {
                bottom: 0;
                right: 1rem;
            }
        }
    }
    .dropdown-menu.show {
        display: flex;
    }
    .title-box {
        h5 {
            font-size: 3rem;
        }
    }
    .popular-area {
        #shape5 {
            right: 20%;
            top: 5%;
            img {
                max-width: 10rem;
            }
        }
    }
    .offer-area{
        .offer-left h6 {
            font-size: 4rem;
        }
        .discount-box {
            top: 30%;
        }
    }
    .product-tab-area {
        .menu-tab-area {
            .food-menu-wrap {
                .food-menu {
                    display: grid;
                }
            }
        }
    }
    .product-tab {
        .tab-link {
            padding: 0rem 2.5rem;
        }
    }
    .app-area {
        .app-bg h3 {
            font-size: 3rem;
            max-width: 27rem;
        }
    }
    .app-area {
        margin: 0rem 0rem 3rem;
    }
    .footer-area {
        .newsletter-area {
            margin-top: 4rem;
            form {
                input {
                    width: 20rem;
                }
            }
            h3 {
                font-size: 1.6rem;
            }
        }
        .copyright-text {
            font-size: 1.4rem;
        }
        .copyright-links {
            li {
                a {
                    font-size: 1.4rem;
                }
            }
        }
        .footer-box {
            h3 {
                font-size: 2.2rem;
            }
        }
    }
}
@media screen and (min-width: 992px) {
    .navbar-nav li:hover > ul.dropdown-menu {
        width: 100%;
        top: 100%;
        left: 0;
        transform: scale(1, 1);
    }
    .dropdown {
        .dropdown-menu {
            display: flex;
        }
    }
    .dropdown-toggle::after {
        content: "\f107";
        font-family: fontAwesome;
        border: none;
        vertical-align:baseline;
        transition: 0.3s;
    }
    .navbar-expand-md {
        .navbar-nav {
            .dropdown-menu {
                left: 0;
                width: 100%;
                .dropdown-item {
                    width: auto;
                }
            }
        }
    }
    .navbar-expand-md {
        .navbar-nav {
            .nav-link {
                padding: 0;
                color: #fff;
                font-family: var(--ss-poppins);
                font-size: 1.6rem;
                text-transform: uppercase;
             }
             .nav-item {
                margin-left: 6rem;
             }
        }

    }
        
    .dropdown-menu {
        border: none;
        border-radius: 0;
        transform: scale(1, 0);
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
        transition: all 300ms ease-in-out 0s;
        display: table-column;
        top: 100%;
        }
        .navbar-nav li:hover > a::after {
            transform: rotate(180deg);
            transition: all 300ms ease-in-out 0s;
        }
}


@media screen and (min-width: 768px) { 
    .dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
        position: inherit;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute;
        width: 100%;
        left: 0;
        padding: 2rem;
        right: 0;
    }
}

@media screen and (max-width: 767px) {
    .p-60 {
        padding: 3rem 0rem;
    }
    .main-header {
        .top-header {
            clip-path: none;
        }
        padding: 1rem 0rem;
    }
    .banner_area {
        h4 {
            font-size: 4rem;
        }
        p {
            font-size: 1.6rem;
        }
        .slider {
            padding: 4rem 0rem;
            background-position: right;
        }
    }
    .dropdown-menu.show {
        display: block;
    }
    .offcanvas {
        background: url(../images/blog_3_2.jpg) no-repeat;
        background-size: cover;
    }
    .offcanvas:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000000d9;
        z-index: -1;
    }

    .offcanvas-body{
        ul {
            li {
                a {
                    color: #fff;
                    font-size: 1.6rem;
                }
                a:hover {
                    color: var(--ss-primary);
                }
                padding: 1rem;
                border-bottom: 1px solid #ddd;
            }
            li:last-child {
                border: none;
            }
        }
    }
    .offcanvas-footer {
        p {
            font-size: 1.6rem;
        }
        ul {
            li {
                a {
                    color: #fff;
                    font-size: 1.8rem;
                }
                a:hover {
                    color: var(--ss-primary);
                }
                padding: 1rem;
            }
        }
    }
    .btn-close {
        filter: brightness(1) invert(1);
    }
    .nav-icons {
        position: relative;
        .line1 {
            top: -2rem;
            color: red;
            width: 3rem;
            height: 0.2rem;
            background-color: red;
            content: "";
            position: absolute;
            right: 0rem;
        }
        .line2 {
            top: -1rem;
            color: red;
            width: 2rem;
            height: 0.2rem;
            background-color: red;
            content: "";
            position: absolute;
            right: 0rem;
        }
        .line3 {
            top: 0rem;
            color: red;
            width: 3rem;
            height: 0.2rem;
            background-color: red;
            content: "";
            position: absolute;
            right: 0rem;
        }
    }
    .popular-area {
        #shape5 {
            right: 30%;
            top: 2%;
            img {
                max-width: 8rem;
            }
        }
        .popular_slider {
            .product_box {
                h3 {
                    font-size: 1.6rem;
                }
                .product-pic {
                    span {
                        width: 5rem;
                        height: 5rem;
                        font-size: 1.2rem;
                        top: 1rem;
                        right: 2rem;
                    }
                }
            }
        }
    }
    .title-box {
        h3 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }
        h5 {
            font-size: 2.5rem;
        }
    }
    .about-area {
        .about-left {
            margin-bottom: 3rem;
        }
        .about-right {
            ul {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
    .offer-area {
        .offer-left {
            margin-top: 3rem;
        }
    }
    .product-tab-area {
        .menu-tab-area {
            grid-template-columns: repeat(1, 1fr);
        }
        .tabs {
            overflow-x: scroll;
        }
        .product-tab {
            .tab-link {
                padding: 0rem 1rem;
            }
            .tab-link {
                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
    .app-area {
        margin: 0rem 0rem 3rem;
        .app-bg {
            background-position: inherit;
            text-align: center;
            h3 {
                line-height: 4rem;
                font-size: 2.5rem;
            }
        }
    }
    .footer-area {
        .copyright-text {
            font-size: 1.3rem;
        }
        .copyright-links {
            li {
                margin-top: 1rem;
            }
            .divider {
                margin-top: 1rem;
            }
        }
        .quick-links {
            margin: 3rem 0rem;
        }
        .newsletter-area {
            padding: 1.5rem;
            h3 {
                margin-bottom: 2rem;
                text-align: center;
            }
            form {
                display: flex;
                justify-content: space-between;
                input {
                    width: auto;
                    padding-left: 0rem;
                }
                .submit-btn {
                    font-size: 1.4rem;
                    padding: 1rem;
                }
            }
        }
    }
}

@media (max-width: 480px) {
}

@media (max-width: 380px) {
}

@media (max-width: 340px) {
}