:root {
    --ss-inter: "Inter", sans-serif;
    --ss-josefin:"Josefin Sans", sans-serif;
    --ss-font500: 500;
    --ss-font600: 600;
    --ss-font700: 700;
    --ss-font800: 800;
    --ss-fontbold: bold;
    --ss-primary: #34a853;
    --ss-secondary:#ffbb38;
  }


  $bg-primary-color:#34a853;
  $bg-secondary-color:#ffbb38;

